<div class="bloc-container proxima-bold">
	<!-- MON EXPERIENCE -->
	<div class="bloc-baniere" id="mon_experience" style="background-image:url('/dist/images/experiences.jpg')">
	</div>
	<div class="bloc-titre txtcenter pas">
		Mon expérience
	</div>
	<!-- NANCY / PARIS -->
	<div class="bloc-ss-titre prs pls uppercase txtcenter h6-like">
		<span class="icone-localisation txtmiddle"></span><span class="txtmiddle pls">Nancy / Paris</span>
	</div>
	<div class="bloc-text h5-like pls prs">
		<ul class="list-a-propos list2">
			<li>
				<span class="col">2014 -</span>
				<span class="col">Chef de projet 
					<a href="http://neo-nomade.com/" target="_blank" new-window="1">@Neo-nomade</a>
				</span>
			</li>
		</ul>
	</div>
	<!-- NANCY -->
	<div class="bloc-ss-titre prs pls uppercase txtcenter h6-like">
		<span class="icone-localisation txtmiddle"></span><span class="txtmiddle pls">Nancy</span>
	</div>
	<div class="bloc-text h5-like pls prs">
		<ul class="list-a-propos list2">
			<li>
				<span class="col">2014 -</span> 
				<span class="col">Freelance : front & end développeur 
					<a href="http://cbrplx.io/">@Cbrplx</a>
				</span>
			</li>
			<li>
				<span class="col">2014 -</span> 
				<span class="col">Communication 
					<a href="http://lenversclub.fr/" target="_blank" new-window="1">@L'envers Club</a>
				</span>
			</li>
			<li>
				<span class="col">2014 -</span> 
				<span class="col">Stagiaire développeur / intégrateur web 
					<a href="http://wyomind.com/" target="_blank" new-window="1">@Wyomind</a>
				</span>
			</li>
			<li>
				<span class="col">2013 -</span> 
				<span class="col">Stagiaire développeur / intégrateur web 
					<a href="http://cirkwi.com/" target="_blank" new-window="1">@Cirkwi</a>
				</span>
			</li>
			<li>
				<span class="col">2013 -</span> 
				<span class="col">Vice Président de l'Association Charlemagne Informatique 
					<a href="https://www.facebook.com/groups/associnfo/" target="_blank" new-window="1">@ACI</a>
				</span>
			</li>
		</ul>
	</div>

	<!-- MA FORMATION -->
	<div class="bloc-baniere" id="ma_formation" style="background-image:url('/dist/images/formation.jpg')">
	</div>
	<div class="bloc-titre txtcenter pas">
		Ma formation
	</div>
	<!-- NANCY -->
	<div class="bloc-ss-titre prs pls uppercase txtcenter h6-like">
		<span class="icone-localisation txtmiddle"></span><span class="txtmiddle pls">Nancy</span>
	</div>
	<div class="bloc-text h5-like pls prs">
		<ul class="list-a-propos list2">
			<li>
				<span class="col">2014 -</span>
				<span class="col">Licence CISIIE 
					<a href="http://iut-charlemagne.univ-lorraine.fr/" target="_blank" new-window="1">@IUT Charlemagne</a>
				</span>
			</li>
			<li>
				<span class="col">2013 -</span>
				<span class="col">DUT Informatique 
					<a href="http://iut-charlemagne.univ-lorraine.fr/" target="_blank" new-window="1">@IUT Charlemagne</a>
				</span>
			</li>
		</ul>
	</div>
	<!-- EPINAL -->
	<div class="bloc-ss-titre prs pls uppercase txtcenter h6-like">
		<span class="icone-localisation txtmiddle"></span><span class="txtmiddle pls">Épinal</span>
	</div>
	<div class="bloc-text h5-like pls prs">
		<ul class="list-a-propos list2">
			<li>
				<span class="col">2011 -</span> 
				<span class="col">Bac S, Sciences de l'ingénieur 
					<a href="http://www4.ac-nancy-metz.fr/lyc-mendesfranceepinal/spip/">@Lycée Pierre Mendès France</a>
				</span>
			</li>
		</ul>
	</div>

	<!-- MES PROJETS -->
	<div class="bloc-baniere" id="mes_projets" style="background-image:url('/dist/images/projets.jpg')">
	</div>
	<div class="bloc-titre txtcenter pas">
		Mes projets
	</div>

	{% for projet in projets %}
		<div class="bloc-ss-titre prs pls uppercase txtcenter h6-like">
			<span class="icone-horloge-gris txtmiddle"></span>
			<span class="txtmiddle pls date date-mois">{{projet.get('days_ago')}}</span>
			<span class="txtmiddle pls date date-jour">{{projet.get('date')}}</span>
		</div>
		<div class="bloc-text h5-like pls prs">
			<div class="bloc-projet transition-fast" style="background-image:url('/{{projet.getCouverture()}}')">
				<div class="bloc-projet-contenu row row-mobile transition">
					<a href="/article/{{projet.getUrl()}}" class="col txtwhite col-mobile h1-like proxima-bold txtmiddle txtcenter not-a-like">
						{{projet.get('titre')}}
					</a>
				</div>
			</div>
		</div>
	{% endfor %}
</div>