<div class="bloc-container proxima-bold">

	<!-- MES PROJETS -->
	<div class="bloc-baniere" id="mes_projets" style="background-image:url('/dist/images/projets.jpg')">
	</div>
	<h1 class="bloc-titre txtcenter pas man proxima-bold">
		Mes projets
	</h1>

	{% for projet in projets %}
		<div class="bloc-ss-titre prs pls uppercase txtcenter h6-like">
			<i class="fa fa-clock-o txtmiddle"></i>
			<span class="txtmiddle pls date date-mois">{{projet.get('days_ago')}}</span>
			<span class="txtmiddle pls date date-jour">{{projet.get('date')}}</span>
		</div>
		<div class="bloc-text h5-like pls prs">
			<div class="bloc-projet transition-fast" 
				style="background-image:url('/{{projet.getCouverture()}}=1160x798xcropx{{date().timestamp}}')">
				<div class="bloc-projet-contenu row row-mobile transition">
					<a href="/articles/{{projet.getUrl()}}" class="col txtwhite col-mobile h1-like proxima-bold txtmiddle txtcenter not-a-like">
						<h1 class="proxima-bold man">{{projet.get('titre')}}</h1>
					</a>
				</div>
			</div>
		</div>
	{% endfor %}
	<!-- MON EXPERIENCE -->
	<div class="bloc-baniere" id="mon_experience" style="background-image:url('/dist/images/experiences.jpg')">
	</div>
	<h1 class="bloc-titre txtcenter man pas proxima-bold">
		Mon expérience
	</h1>
	<!-- NANCY / PARIS -->
	<div class="bloc-ss-titre prs pls uppercase txtcenter h6-like">
		<span class="icone-localisation txtmiddle"></span>
		<h6 class="txtmiddle pls inbl man proxima-bold">Nancy / Paris</h6>
	</div>
	<div class="bloc-text h5-like pls prs">
		<ul class="list-a-propos list2">
			<li>
				<span class="col">2014 -</span>
				<h5 class="col proxima-bold">Chef de projet 
					<a href="http://neo-nomade.com/" target="_blank" new-window="1">
						<h5 class="man inline proxima-bold">@Neo-nomade</h5>
					</a>
				</h5>
			</li>
		</ul>
	</div>
	<!-- NANCY -->
	<div class="bloc-ss-titre prs pls uppercase txtcenter h6-like">
		<span class="icone-localisation txtmiddle"></span><h6 class="txtmiddle pls inbl man proxima-bold">Nancy</h6>
	</div>
	<div class="bloc-text h5-like pls prs">
		<ul class="list-a-propos list2">
			<li>
				<span class="col">2014 -</span> 
				<h5 class="col proxima-bold">Freelance : front & end développeur 
					<a href="http://cbrplx.io/">
						<h5 class="man inline proxima-bold">@Cbrplx</h5>
					</a>
				</h5>
			</li>
			<li>
				<span class="col">2014 -</span> 
				<h5 class="col proxima-bold">Communication 
					<a href="http://lenversclub.fr/" target="_blank" new-window="1">
						<h5 class="man inline proxima-bold">@L'envers Club</h5>
					</a>
				</h5>
			</li>
			<li>
				<span class="col">2014 -</span> 
				<h5 class="col proxima-bold">Stagiaire développeur / intégrateur web 
					<a href="http://wyomind.com/" target="_blank" new-window="1">
						<h5 class="man inline proxima-bold">@Wyomind</h5>
					</a>
				</h5>
			</li>
			<li>
				<span class="col">2013 -</span> 
				<h5 class="col proxima-bold">Stagiaire développeur / intégrateur web 
					<a href="http://cirkwi.com/" target="_blank" new-window="1">
						<h5 class="man inline proxima-bold">@Cirkwi</h5>
					</a>
				</h5>
			</li>
			<li>
				<span class="col">2013 -</span> 
				<h5 class="col proxima-bold">Vice Président de l'Association Charlemagne Informatique 
					<a href="https://www.facebook.com/groups/associnfo/" target="_blank" new-window="1">
						<h5 class="man inline proxima-bold">@ACI</h5>
					</a>
				</h5>
			</li>
		</ul>
	</div>

	<!-- MA FORMATION -->
	<div class="bloc-baniere" id="ma_formation" style="background-image:url('/dist/images/formation.jpg')">
	</div>
	<h1 class="bloc-titre txtcenter man pas proxima-bold">
		Ma formation
	</h1>
	<!-- NANCY -->
	<div class="bloc-ss-titre prs pls uppercase txtcenter h6-like">
		<span class="icone-localisation txtmiddle"></span><h6 class="txtmiddle pls man inbl proxima-bold">Nancy</h6>
	</div>
	<div class="bloc-text h5-like pls prs">
		<ul class="list-a-propos list2">
			<li>
				<span class="col">2014 -</span>
				<h5 class="col proxima-bold">Licence CISIIE 
					<a href="http://iut-charlemagne.univ-lorraine.fr/" target="_blank" new-window="1">
						<h5 class="man inline proxima-bold">@IUT Charlemagne</h5>
					</a>
				</h5>
			</li>
			<li>
				<span class="col">2013 -</span>
				<h5 class="col proxima-bold">DUT Informatique 
					<a href="http://iut-charlemagne.univ-lorraine.fr/" target="_blank" new-window="1">
						<h5 class="man inline proxima-bold">@IUT Charlemagne</h5>
					</a>
				</h5>
			</li>
		</ul>
	</div>
	<!-- EPINAL -->
	<div class="bloc-ss-titre prs pls uppercase txtcenter h6-like">
		<span class="icone-localisation txtmiddle"></span><h6 class="txtmiddle pls man inbl proxima-bold">Épinal</h6>
	</div>
	<div class="bloc-text h5-like pls prs">
		<ul class="list-a-propos list2">
			<li>
				<span class="col">2011 -</span> 
				<h5 class="col proxima-bold">Bac S, Sciences de l'ingénieur 
					<a href="http://www4.ac-nancy-metz.fr/lyc-mendesfranceepinal/spip/">
						<h5 class="man inline proxima-bold">@Lycée Pierre Mendès France</h5>
					</a>
				</h5>
			</li>
		</ul>
	</div>
</div>