<div class="bloc-container proxima-bold" id="{{article.getUrl()}}" itemscope itemtype="http://schema.org/Article">
	{% if root %}
		{% if dev %}
			<a href="/articles/{{article.getUrl()}}" class="not-a-like">
		{% else %}
			<a href="http://cbrplx.io/articles/{{article.getUrl()}}" class="not-a-like">
		{% endif %}
			<div class="bloc-baniere" id="mon_experience" style="background-image:url('/{{article.getCouverture()}}')" itemprop="image">
			</div>
		</a>
	{% else %}
		<div class="bloc-baniere" id="mon_experience" style="background-image:url('/{{article.getCouverture()}}')" itemprop="image">
		</div>
	{% endif %}
	<h1 class="bloc-titre txtcenter pas man proxima-bold" itemprop="about" itemscope itemtype="http://schema.org/Thing">
		{% if root %}
			{% if dev %}
				<a href="/articles/{{article.getUrl()}}" class="not-a-like" itemprop="name">{{article.get("titre")}}</a>
			{% else %}
				<a href="http://cbrplx.io/articles/{{article.getUrl()}}" class="not-a-like" itemprop="name">{{article.get("titre")}}</a>
			{% endif %}
		{% else %}
			<span  itemprop="name">{{article.get("titre")}}</span>
		{% endif %}
		<link itemprop="url" href="http://cbrplx.io/articles/{{article.getUrl()}}" />
	</h1>
	<div class="bloc-ss-titre prs pls uppercase txtcenter h6-like">
		<i class="fa fa-clock-o txtmiddle"></i>
		<span class="txtmiddle pls date date-mois">{{article.get('days_ago')}}</span>
		<span class="txtmiddle pls date date-jour" itemprop="datePublished">{{article.get('date')}}</span>
	</div>
	<div class="bloc-text h5-like pls prs proxima" itemprop="articleBody">
			{{article.get('text')|raw}}
	</div>
	{% if article.get('lien') %}
		<div class="bloc-text h5-like pls prs proxima txtcenter">
			<a class="not-a-like btn-style pas w100 inbl proxima-bold transition" href="{{article.get('lien')}}" 
				target="_blank" new-window="1">
				<i class="fa fa-bolt txtmiddle"></i><span class="txtmiddle pls">Consulter le site</span>
			</a>
		</div>
	{% endif %}
	<div class="bloc-text pls prs mtn share-buttons row row-mobile" id="{{article.get('id_article')}}">
		<div class="txtcenter col-mobile">
			<a href="https://www.facebook.com/dialog/share?app_id=629248243841508&display=page&href=http://cbrplx.io/articles/{{article.getUrl()}}&redirect_uri=http://cbrplx.io/articles/{{article.getUrl()}}" target="_blank" new-window="1" class="not-a-like btn-fb btn-share" plateforme="facebook">
				<i class="fa fa-facebook txtmiddle"></i> <span class="txtmiddle">Partager</span>
			</a>
		</div>
		<div class="txtcenter col-mobile">
			<a href="https://twitter.com/intent/tweet?original_referer=http://cbrplx.io/articles/{{article.getUrl()}}&tw_p=tweetbutton&url=http://cbrplx.io/articles/{{article.getUrl()}}" target="_blank" new-window="1" class="not-a-like btn-twt btn-share" plateforme="twitter">
				<i class="fa fa-twitter txtmiddle"></i> <span class="txtmiddle">Twitter</span>
			</a>
		</div>
		<div class="txtcenter col-mobile">
			<a href="https://plus.google.com/share?url=http://cbrplx.io/articles/{{article.getUrl()}}" target="_blank" new-window="1" class="not-a-like btn-gg btn-share" plateforme="google">
				<i class="fa fa-google txtmiddle"></i> <span class="txtmiddle">Partager</span>
			</a>
		</div>
		<div class="txtcenter col-mobile">
			<a href="https://www.pinterest.com/pin/create/button/?url=http://cbrplx.io/articles/{{article.getUrl()}}&media=http://cbrplx.io/{{article.getCouverture()}}&description={{article.get('titre')}}" target="_blank" new-window="1" class="not-a-like btn-pnt btn-share" plateforme="pinterest">
				<i class="fa fa-pinterest-p txtmiddle"></i> <span class="txtmiddle">Pin it</span>
			</a>
		</div>
	</div>
	{% include 'go_back.html.twig' %}
	{% if root == false %}

		<div class="pas proxima h6-like large-hidden medium-hidden">Autres articles :</div>
		<div class="bloc-avant-apres row">
			<!-- BEFORE -->
			{% if before %}
				{% if dev %}
					<a class="col w50 pas ptl pbl not-a-like" href="/articles/{{before.getUrl()}}">
				{% else %}
					<a class="col w50 pas ptl pbl not-a-like" href="http://cbrplx.io/articles/{{before.getUrl()}}">
				{% endif %}
					<div class="row w100">
						<div class="col txtmiddle w20p">
							<i class="fa fa-chevron-left"></i>
						</div>
						<div class="col txtmiddle plm w80">
							<div class="titre-avant-article h3-like">{{before.get('titre')}}</div>
							<div class="proxima">Voir l'article</div>
						</div>
					</div>
				</a>
			{% else %}
				<div class="col w50 pas ptl pbl not-a-like"></div>
			{% endif %}
			<!-- AFTER -->
			{% if after %}
				{% if dev %}
					<a class="col w50 pas ptl pbl not-a-like txtright" href="/articles/{{after.getUrl()}}">
				{% else %}
					<a class="col w50 pas ptl pbl not-a-like txtright" href="http://cbrplx.io/articles/{{after.getUrl()}}">
				{% endif %}
					<div class="row w100 txtright">
						<div class="col txtright prm w80">
							<div class="titre-avant-article h3-like">{{after.get('titre')}}</div>
							<div class="proxima">Voir l'article</div>
						</div>
						<div class="col txtmiddle w20p">
							<i class="fa fa-chevron-right"></i>
						</div>
					</div>
				</a>
			{% else %}
				<div class="col w50 pas ptl pbl not-a-like"></div>
			{% endif %}
		</div>
	{% endif %}
	<div class="bloc-auteur bloc-container-footer prs pls">
		{% if auteur %}
			<!-- AUTEUR -->
			<div class="row">
				<div class="col col-mobile w30 txttop">
					Auteur de cet article
				</div>
				<div class="col col-mobile w70 txttop pls">
					<div class="mbs" itemprop="author" itemscope itemtype="http://schema.org/Person">
						<div class="bloc-rond inbl w50p txtmiddle">
							{% if refresh %}
								<img src="http://cbrplx.io/{{auteur.get('img')}}=100x100xcarrex{{date().timestamp}}" itemprop="image" />
							{% else %}
								<img src="http://cbrplx.io/{{auteur.get('img')}}=100x100xcarre" itemprop="image" />
							{% endif %}
						</div>
						<div class="txtmiddle inbl pls">
							{% if dev %}
								<a href="/users/{{auteur.get('login')}}-{{auteur.get('id_user')}}" itemprop="url">
							{% else %}
								<a href="http://cbrplx.io/users/{{auteur.get('login')}}-{{auteur.get('id_user')}}" itemprop="url">
							{% endif %}
								<h6 class="man inbl normal proxima-bold" itemprop="name">{{auteur.get('prenom')}} {{auteur.get('nom')}}</h6>
							</a>
							<div class="proxima">
								{{auteur.get('nb_post')}} post, {{auteur.get('nb_contrib')}} 
								contribution{% if auteur.get('nb_contrib') > '1' %}s{% endif %}
							</div>
						</div>
					</div>
				</div>
			</div>
		{% endif %}

		{% if article.get('projet') == '1' %}
			{% if contribs %}
				<!-- CONTRIBUTEURS -->
				<div class="row">
					<div class="col col-mobile w30 txttop">
						Contributeurs du projet
					</div>
					<div class="col col-mobile w70 txttop pls">
						{% for contrib in contribs %}
							<div class="mbs" itemprop="contributor" itemscope itemtype="http://schema.org/Person">
								<div class="bloc-rond inbl w50p txtmiddle">
								{% if refresh %}
									<img src="/{{contrib.get('img')}}=100x100xcarrex{{date().timestamp}}" itemprop="image" />
								{% else %}
									<img src="/{{contrib.get('img')}}=100x100xcarre" itemprop="image" />
								{% endif %}
								</div>
								<div class="txtmiddle inbl pls">
									{% if dev %}
										<a href="/users/{{contrib.get('login')}}-{{contrib.get('id_user')}}"  itemprop="url">
									{% else %}
										<a href="http://cbrplx.io/users/{{contrib.get('login')}}-{{contrib.get('id_user')}}"  itemprop="url">
									{% endif %}
										<h6 class="man inbl normal proxima-bold" itemprop="name">{{contrib.get('prenom')}} {{contrib.get('nom')}}</h6>
									</a>
									<div class="proxima">
										{{contrib.get('nb_post')}} post, {{contrib.get('nb_contrib')}} 
										contribution{% if contrib.get('nb_contrib') > '1' %}s{% endif %}
									</div>
								</div>
							</div>
						{% endfor %}
					</div>
				</div>
			{% endif %}


			{% if tri_technos %}
				<!-- TECHNOLOGIES -->
				<div class="row">
					<div class="col col-mobile w30 txttop techno">
						Technologies utilisées
					</div>
					<div class="col col-mobile w70 txttop pls">
						{% for technos in tri_technos %}
							<div class="mbs">
								<div class="row row-mobile">
									{% for techno in technos %}
										<div class="col col-mobile txtmiddle pls col-techno">
											<div class="proxima">
												{% if techno %}
													<span class="icone-{{techno.get('nom_type_techno')}} txtmiddle"></span>
													<span class="txtmiddle">
														<h6 class="man inbl normal thin proxima">{{techno.get("nom_techno")}}</h6>
													</span>
												{% endif %}
											</div>
										</div>
									{% endfor %}
								</div>
							</div>
						{% endfor %}
					</div>
				</div>
			{% endif %}
		{% endif %}

		{% if article.getNbViews() > 50 %}
			<!-- VUES -->
			<div class="row">
				<div class="col col-mobile w30 txttop techno">
					Nombre de lectures
				</div>
				<div class="col col-mobile w70 txttop pls">
					<div class="mbs">
						<div class="row row-mobile">
							<div class="col col-mobile txtmiddle pls col-techno">
								<div class="proxima">
									<span class="fa fa-line-chart"></span>
									<span class="pls">
										<h6 class="man inbl normal thin proxima">{{article.getNbViews()}}</h6>
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		{% endif %}

		{% if article.get('tags') %}
			<!-- TAGS -->
			<div class="row">
				<div class="col col-mobile w30 txttop">
					Tags
				</div>
				<div class="col col-mobile w70 txttop pls">
						<div class="mbs">
							<div class="txtmiddle inbl proxima" itemprop="keywords">
								{% set itag = 0 %}
								{% for tag in article.get('tags')|split(';') %}
									{% if tag != "" %}
										<a href="/recherche/{{tag}}" class="tag italic"><h6 class="man inbl thin italic normal proxima">{{tag}}</h6></a>{% if itag < (loop.length-3) %}, {% endif %}
										{% set itag = itag +1 %}
									{% endif %}
								{% endfor %}
							</div>
						</div>
				</div>
			</div>		
		{% endif %}
	</div>
</div>