<div class="bloc-container proxima-bold" id="{{article.getUrl()}}">
	<div class="bloc-baniere" id="mon_experience" style="background-image:url('/{{article.getCouverture()}}')">
	</div>
	<h1 class="bloc-titre txtcenter pas man proxima-bold">
		{% if root %}
			<a href="/articles/{{article.getUrl()}}" class="not-a-like">{{article.get("titre")}}</a>
		{% else %}
			{{article.get("titre")}}
		{% endif %}
	</h1>
	<div class="bloc-ss-titre prs pls uppercase txtcenter h6-like">
		<i class="fa fa-clock-o txtmiddle"></i>
		<span class="txtmiddle pls date date-mois">{{article.get('days_ago')}}</span>
		<span class="txtmiddle pls date date-jour">{{article.get('date')}}</span>
	</div>
	<div class="bloc-text h5-like pls prs proxima">
			{{article.get('text')|raw|nl2br}}
	</div>
	{% if article.get('lien') %}
		<div class="bloc-text h5-like pls prs proxima txtcenter">
			<a class="not-a-like btn-style pas w100 inbl proxima-bold transition" href="{{article.get('lien')}}" 
				target="_blank" new-window="1">
				<i class="fa fa-bolt txtmiddle"></i><span class="txtmiddle pls">Consulter le site</span>
			</a>
		</div>
	{% endif %}
	{% include 'go_back.html.twig' %}
	{% if root == false %}

		<div class="pas proxima h6-like large-hidden medium-hidden">Autres articles :</div>
		<div class="bloc-avant-apres row">
			<!-- BEFORE -->
			{% if before %}
				<a class="col w50 pas ptl pbl not-a-like" href="/articles/{{before.getUrl()}}">
					<div class="row w100">
						<div class="col txtmiddle w20p">
							<i class="fa fa-chevron-left"></i>
						</div>
						<div class="col txtmiddle plm w80">
							<div class="titre-avant-article h3-like">{{before.get('titre')}}</div>
							<div class="proxima">Voir l'article</div>
						</div>
					</div>
				</a>
			{% else %}
				<div class="col w50 pas ptl pbl not-a-like"></div>
			{% endif %}
			<!-- AFTER -->
			{% if after %}
				<a class="col w50 pas ptl pbl not-a-like txtright" href="/articles/{{after.getUrl()}}">
					<div class="row w100 txtright">
						<div class="col txtright prm w80">
							<div class="titre-avant-article h3-like">{{after.get('titre')}}</div>
							<div class="proxima">Voir l'article</div>
						</div>
						<div class="col txtmiddle w20p">
							<i class="fa fa-chevron-right"></i>
						</div>
					</div>
				</a>
			{% else %}
				<div class="col w50 pas ptl pbl not-a-like"></div>
			{% endif %}
		</div>
	{% endif %}
	<div class="bloc-auteur bloc-container-footer prs pls">
		{% if auteur %}
			<!-- AUTEUR -->
			<div class="row">
				<div class="col col-mobile w30 txttop">
					Auteur de cet article
				</div>
				<div class="col col-mobile w70 txttop pls">
					<div class="mbs">
						<div class="bloc-rond inbl w50p txtmiddle">
							{% if refresh %}
								<img src="/{{auteur.get('img')}}=100x100xcarrex{{date().timestamp}}" />
							{% else %}
								<img src="/{{auteur.get('img')}}=100x100xcarre" />
							{% endif %}
						</div>
						<div class="txtmiddle inbl pls">
							<a href="/users/{{auteur.get('login')}}-{{auteur.get('id_user')}}">
								<h6 class="man inbl normal proxima-bold">{{auteur.get('prenom')}} {{auteur.get('nom')}}</h6>
							</a>
							<div class="proxima">
								{{auteur.get('nb_post')}} post, {{auteur.get('nb_contrib')}} 
								contribution{% if auteur.get('nb_contrib') > '1' %}s{% endif %}
							</div>
						</div>
					</div>
				</div>
			</div>
		{% endif %}

		{% if article.get('projet') == '1' %}
			{% if contribs %}
				<!-- CONTRIBUTEURS -->
				<div class="row">
					<div class="col col-mobile w30 txttop">
						Contributeurs du projet
					</div>
					<div class="col col-mobile w70 txttop pls">
						{% for contrib in contribs %}
							<div class="mbs">
								<div class="bloc-rond inbl w50p txtmiddle">
								{% if refresh %}
									<img src="/{{contrib.get('img')}}=100x100xcarrex{{date().timestamp}}" />
								{% else %}
									<img src="/{{contrib.get('img')}}=100x100xcarre" />
								{% endif %}
								</div>
								<div class="txtmiddle inbl pls">
									<a href="/users/{{contrib.get('login')}}-{{contrib.get('id_user')}}">
										<h6 class="man inbl normal proxima-bold">{{contrib.get('prenom')}} {{contrib.get('nom')}}</h6>
									</a>
									<div class="proxima">
										{{contrib.get('nb_post')}} post, {{contrib.get('nb_contrib')}} 
										contribution{% if contrib.get('nb_contrib') > '1' %}s{% endif %}
									</div>
								</div>
							</div>
						{% endfor %}
					</div>
				</div>
			{% endif %}


			{% if tri_technos %}
				<!-- TECHNOLOGIES -->
				<div class="row">
					<div class="col col-mobile w30 txttop techno">
						Technologies utilisées
					</div>
					<div class="col col-mobile w70 txttop pls">
						{% for technos in tri_technos %}
							<div class="mbs">
								<div class="row row-mobile">
									{% for techno in technos %}
										<div class="col col-mobile txtmiddle pls col-techno">
											<div class="proxima">
												{% if techno %}
													<span class="icone-{{techno.get('nom_type_techno')}} txtmiddle"></span>
													<span class="txtmiddle">
														<h6 class="man inbl normal thin proxima">{{techno.get("nom_techno")}}</h6>
													</span>
												{% endif %}
											</div>
										</div>
									{% endfor %}
								</div>
							</div>
						{% endfor %}
					</div>
				</div>
			{% endif %}
		{% endif %}
		{% if article.get('tags') %}
			<!-- TAGS -->
			<div class="row">
				<div class="col col-mobile w30 txttop">
					Tags
				</div>
				<div class="col col-mobile w70 txttop pls">
						<div class="mbs">
							<div class="txtmiddle inbl proxima">
								{% set itag = 0 %}
								{% for tag in article.get('tags')|split(';') %}
									{% if tag != "" %}
										<a href="/tag/{{tag}}" class="tag italic"><h6 class="man inbl thin italic normal proxima">{{tag}}</h6></a>{% if itag < (loop.length-3) %}, {% endif %}
										{% set itag = itag +1 %}
									{% endif %}
								{% endfor %}
							</div>
						</div>
				</div>
			</div>		
		{% endif %}
	</div>
</div>