<div class="bloc-baniere user row row-mobile" style="background-image:url('/{{user.get('img_blur')}}');">
    <div class="txtcenter txtmiddle col col-mobile">
        <div>
            {% if linkToProfile %}
                <a href="/users/CBRPLX-1">
            {% endif %}

                <div class="bloc-rond inbl cadre-blanc">
                    <img src="/{{user.get('img')}}" class="bloc-rond" />
                </div>

            {% if linkToProfile %}
                </a>
            {% endif %}

            <h1 class="h2-like proxima-bold">{{user.get('prenom')}} {{user.get('nom')}}</h1>
            {% if socials|length > 0 %}
                <div>
                    {% for social in socials %}
                        <span class="mrs mls">
                            <a href="{{social.link}}" target="_blank" title="{{social.nom_social}}">
                                <i class="fa {{social.icone_social}} fa-lg"></i>
                            </a>
                        </span>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
</div>