<div class="bloc-list-user">
	{% for user in users %}
		<div class="pas">
			<div class="col w80p bloc-rond inbl txtmiddle">
				<img src="/{{user.img}}=160x160xcarre" class="bloc-rond" />
			</div>
			<div class="inbl pls txtmiddle">
				<div class="h2-like proxima-bold txtgristitle">{{user.get('prenom')}} {{user.get('nom')}}</div>
				<div class="">{{user.get('nb_post')}} posts, {{user.get('nb_contrib')}} contribution</div>
			</div>
		</div>
	{% endfor %}
</div>