<div class="bloc-list-article">
	{% for article in articles %}
		<div class="preview-article prs pls mts mbm">
			<div class="preview-content transition">
				<div class="border-online inbl col col-mobile txtmiddle">
					{% if article.get('online') == '1' %}
						<span class="icone-burn-vert"></span>
					{% else %}
						<span class="icone-burn-gris"></span>
					{% endif %}
				</div>
				<div class="preview-txt pls inbl col col-mobile txtmiddle">
					<a class="h5-like proxima-bold lien_article" href="#" id="{{article.get('id_article')}}">
						{% if article.get('projet') == '1' %}
							{{article.get('id_article')}} : # : {{article.get('titre')}}
						{% else %}
							{{article.get('id_article')}} : &nbsp; : {{article.get('titre')}}
						{% endif %}
					</a>
				</div>
				<div class="col txtmiddle inbl right small-hidden tiny-hidden">
					{{article.get('nb_vue')}}
				</div>
			</div>
		</div>
	{% endfor %}
</div>

<script type="text/javascript">
var liens = document.getElementsByClassName("lien_article");
for (var i = liens.length - 1; i >= 0; i--) {
	liens[i].addEventListener("click", function(e){
		e.preventDefault();
		afficherChargement("chargement_onglet");
		MAJOnglets("", "");
		afficherArticle(this.id);
	});
};
</script>