{% extends "squelette.html.twig" %}

{% block head %}
  <title>{{TITRE}} - cbrplx.io</title>
  <meta name="description" content="Astuces et nouveautés sur les technologies du web, desktop et mobile.">
  <meta name="tags" content="Astuces nouveautés technologies web desktop mobile nancy paris développeur php html css front back end framework informatique chef gestion projet chronostan robin pierrot freelance cbrplx cyberplix outlookcsvparser dark aci webplug iut charlemagne étudiant licence cisiie dut">

  <!--- Viewport tweaks -->
  <meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-title" content="cbrplx.io">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta name="mobile-web-app-capable" content="yes">

  <!-- Windows 8 et windows phone-->
  <meta name="application-name" content="cbrplx.io"/>
  <meta name="msapplication-TileColor" content="#000000"/>
  <meta name="msapplication-square70x70logo" content="/dist/images/windows-tiny.jpg"/>
  <meta name="msapplication-square150x150logo" content="/dist/images/windows-square.jpg"/>
  <meta name="msapplication-wide310x150logo" content="/dist/images/windows-wide.jpg"/>
  <meta name="msapplication-square310x310logo" content="/dist/images/windows-large.jpg"/>
  <meta name="msapplication-tap-highlight" content="no"/> 

  <!-- Apple touch icons -->
  <link rel="apple-touch-icon-precomposed" href="/dist/images/apple-touch-icon-152x152-precomposed.jpg" sizes="152x152">
  <link rel="apple-touch-icon-precomposed" href="/dist/images/apple-touch-icon-120x120-precomposed.jpg" sizes="120x120">
  <link rel="apple-touch-icon-precomposed" href="/dist/images/apple-touch-icon-76x76-precomposed.jpg" sizes="76x76">
  <link rel="apple-touch-icon-precomposed" href="/dist/images/apple-touch-icon-precomposed.jpg">
  <link rel="apple-touch-icon" href="/dist/images/apple-touch-icon-152x152-precomposed.jpg" sizes="152x152">

  <!-- Apple load image -->
  <!-- iPad, retina, portrait -->
  <link href="/dist/images/apple-touch-startup-image-1536x2008.jpg" 
      media="(device-width: 768px) and (device-height: 1024px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2)"
      rel="apple-touch-startup-image">
  <!-- iPad, retina, landscape -->
  <link href="/dist/images/apple-touch-startup-image-1496x2048.jpg"
      media="(device-width: 768px) and (device-height: 1024px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2)"
      rel="apple-touch-startup-image">
  <!-- iPad, portrait -->
  <link href="/dist/images/apple-touch-startup-image-768x1004.jpg"
      media="(device-width: 768px) and (device-height: 1024px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 1)"
      rel="apple-touch-startup-image">
  <!-- iPad, landscape -->
  <link href="/dist/images/apple-touch-startup-image-748x1024.jpg"
      media="(device-width: 768px) and (device-height: 1024px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 1)"
      rel="apple-touch-startup-image">
  <!-- iPhone 5 -->
  <link href="/dist/images/apple-touch-startup-image-640x1096.jpg"
      media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)"
      rel="apple-touch-startup-image">
  <!-- iPhone, retina -->
  <link href="/dist/images/apple-touch-startup-image-640x920.jpg"
      media="(device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 2)"
      rel="apple-touch-startup-image">
  <!-- iPhone -->
  <link href="/dist/images/apple-touch-startup-image-320x460.jpg"
      media="(device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 1)"
      rel="apple-touch-startup-image">

  <!-- Facebook -->
  <meta property="og:title" content="{{TITRE}} - cbrplx.io">
  <meta property="og:type" content="website">
  <meta property="og:description" content="{{DESCRIPTION}}">
  <meta property="og:image" content="{{IMAGE}}">
  <meta property="og:url" content="{{URL}}">
  <meta property="og:site_name" content="cbrplx.io">
  <meta property="fb:admins" content="1614882856">

  <!-- Google+ -->
  <meta itemprop="name" content="{{TITRE}} - cbrplx.io">
  <meta itemprop="description" content="{{DESCRIPTION}}">
  <meta itemprop="image" content="{{IMAGE}}">

  <!-- Twitter -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@cbrplx">
  <meta name="twitter:title" content="{{TITRE}} - cbrplx.io">
  <meta name="twitter:description" content="{{DESCRIPTION}}">
  <meta name="twitter:creator" content="@CBRPLX">
  <meta name="twitter:image:src" content="{{IMAGE}}">
{% endblock %}