<div class="bloc-container proxima-bold">

	<div class="bloc-baniere" id="mes_projets" style="background-image:url('/dist/images/search.jpg')">
	</div>
	<h1 class="bloc-titre txtcenter pas man proxima-bold">
		Recherche : "{{keywords}}"
	</h1>

	{# {% for projet in projets %}
		<div class="bloc-ss-titre prs pls uppercase txtcenter h6-like">
			<i class="fa fa-clock-o txtmiddle"></i>
			<span class="txtmiddle pls date date-mois">{{projet.get('days_ago')}}</span>
			<span class="txtmiddle pls date date-jour">{{projet.get('date')}}</span>
		</div>
		<div class="bloc-text h5-like pls prs">
			{% if refresh %}
				<div class="bloc-projet transition-fast" 
					style="background-image:url('/{{projet.getCouverture()}}=1160x798xcropx{{date().timestamp}}')">
			{% else %}
				<div class="bloc-projet transition-fast" 
					style="background-image:url('/{{projet.getCouverture()}}=1160x798xcrop')">
			{% endif %}
				<div class="bloc-projet-contenu row row-mobile transition">
					<a href="/articles/{{projet.getUrl()}}" class="col txtwhite col-mobile h1-like proxima-bold txtmiddle txtcenter not-a-like">
						<h1 class="proxima-bold man">{{projet.get('titre')}}</h1>
					</a>
				</div>
			</div>
		</div>
	{% endfor %} #}
	
	{% include 'go_back.html.twig' %}
</div>