<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--[if IE ]>    <html class="ie" xmlns="http://www.w3.org/1999/xhtml"> <![endif]-->
<html xmlns="http://www.w3.org/1999/xhtml" prefix="og: http://ogp.me/ns#">
<head>
<!--

 _____________    ___________        _____________    _____________    ___              ____      ____     |
/\   _________\  /\  \_____/ `\     /\   _______  \  /\   _______  \  /\  \            / \  \    /  / \    |
\ \  \ _______/  \ \  \____\___\__  \ \  \ ____/\  \ \ \  \ ____/\  \ \ \  \           \  \  \  /  /  /    |
 \ \  \           \ \  \________  `\ \ \  \____\_\  \ \ \  \____\_\  \ \ \  \           \  \  \/  /  /     |
  \ \  \           \ \  \ _____/ \  \ \ \  \_____   /  \ \  \________/  \ \  \           \  \  \_/  /      |
   \ \  \__________ \ \  \_____\__\  \ \ \  \___ \  \   \ \  \           \ \  \__________ \  \     /       |
    \ \____________\ \ \______________\ \ \__\  \ \__\   \ \__\           \ \____________\ \  \   /        |
     \/____________/  \/______________/  \/__/   \/__/    \/__/            \/____________/ /  /   \        |
                                                                                          /  /  _  \       |
    Designed & Developed by Cyberplix                                                    /  /  / \  \      |
    https://cbrplx.io                                                                    /  /  /\  \  \     |
    http://facebook.com/rob2.pierrot                                                   /  /  /  \  \  \    |
    @robin_pierrot                                                                     \_/__/    \__\_/    |
___________________________________________________________________________________________________________|

-->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="/dist/css/styles.min.css?t={{TIME}}" />
<script type='text/javascript' src="//wurfl.io/wurfl.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1.0" />
<!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<link type="image/png" href="/dist/images/{{extensionName}}/icon16.png" rel="icon" sizes="16x16" /> 
<link type="image/png" href="/dist/images/{{extensionName}}/icon48.png" rel="icon" sizes="48x48" /> 
<title>{{extensionInfo.get('name')}} - {{extensionInfo.get('description')}} - cbrplx.io</title>
<meta name="description" content="{{extensionInfo.get('description')}}">

<!--- Viewport tweaks -->
<meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,user-scalable=no">

<!-- Facebook -->
<meta property="og:title" content="{{extensionInfo.get('name')}} - {{extensionInfo.get('description')}} - cbrplx.io">
<meta property="og:type" content="website">
<meta property="og:description" content="{{extensionInfo.get('description')}}">
<meta property="og:image" content="/dist/images/{{extensionName}}/banner.jpg">
<meta property="og:image:type" content="{{htmlImageInfos.mime}}">
<meta property="og:image:width" content="{{htmlImageInfos.width}}">
<meta property="og:image:height" content="{{htmlImageInfos.height}}">
<meta property="og:url" content="https://cbrplx.io/extension/{{extensionName}}">
<meta property="og:site_name" content="cbrplx.io">
<meta property="fb:admins" content="1614882856">

<!-- Google+ -->
<meta itemprop="name" content="{{extensionInfo.get('name')}} - {{extensionInfo.get('description')}} - cbrplx.io">
<meta itemprop="description" content="{{extensionInfo.get('description')}}">
<meta itemprop="image" content="/dist/images/{{extensionName}}/banner.jpg">

<!-- Twitter -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@CBRPLX">
<meta name="twitter:title" content="{{extensionInfo.get('name')}} - {{extensionInfo.get('description')}} - cbrplx.io">
<meta name="twitter:description" content="{{extensionInfo.get('description')}}">
<meta name="twitter:creator" content="@CBRPLX">
<meta name="twitter:image:src" content="/dist/images/{{extensionName}}/banner.jpg">

{% block head %}
{% endblock %}
</head>

<body id="body" class="bodyExtension">
	{% block body %}
	{% endblock %}

	<!-- GOOGLE ANALYTICS -->
	<script>
	if(window.location.host == "cbrplx.io" || window.location.host == "www.cbrplx.io"){
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-59171361-1', 'auto');
	  ga('send', 'pageview');
	}
	</script>

	<script type="text/javascript" src="/dist/js/main.min.js?v={{TIME}}"></script>
</body>
</html>
