<div class="bloc-container proxima-bold">

	{% include 'headerUser.html.twig' %} 

	<div id="user-profile">
		<h3 class="bloc-titre txtcenter pas man proxima-bold h1-like">
			Articles
		</h3>

		{% for article in articles %}
			<div class="bloc-ss-titre prs pls uppercase txtcenter h6-like">
				<i class="fa fa-clock-o txtmiddle"></i>
				<span class="txtmiddle pls date date-mois">{{article.get('days_ago')}}</span>
				<span class="txtmiddle pls date date-jour">{{article.get('date')}}</span>
			</div>
			<div class="bloc-text h5-like pls prs">
				{% if refresh %}
					<div class="bloc-projet transition-fast" 
						style="background-image:url('/{{article.getCouverture()}}=1160x798xcropx{{date().timestamp}}')">
				{% else %}
					<div class="bloc-projet transition-fast" 
						style="background-image:url('/{{article.getCouverture()}}=1160x798xcrop')">
				{% endif %}
					<div class="bloc-projet-contenu row row-mobile transition">
						<a href="/articles/{{article.getUrl()}}" class="col txtwhite col-mobile h1-like proxima-bold txtmiddle txtcenter not-a-like">
							<h1 class="proxima-bold man">{{article.get('titre')}}</h1>
							<h6 class="proxima pll prl">{{article.get('description')}}</h6>
						</a>
					</div>
				</div>
			</div>
		{% endfor %}

		{% if articles|length == 0 %}
			<div class="bloc-ss-titre prs pls mbl pbl uppercase txtcenter h6-like">
				<span class="icone-skull txtmiddle"></span>
				<h6 class="txtmiddle pls man inbl proxima-bold">Aucun résultat</h6>
			</div>

			<script type="text/javascript">
				var quatre = document.getElementById("user-profile");
			    var w = window,
			    d = document,
			    e = d.documentElement,
			    g = d.getElementsByTagName('body')[0],
			    x = w.innerWidth || e.clientWidth || g.clientWidth,
			    y = w.innerHeight|| e.clientHeight|| g.clientHeight;
			    var demi_ecran = y/2;
			    quatre.style.minHeight = demi_ecran+"px";
			</script>
		{% endif %}

		{# Si on est sur la page de l'utilisateur 1 #}
		{% if user.get('id_user') == 1 %}
			{% include 'experiencesAndFormations.html.twig' %}
		{% endif %}
	</div>
</div>